<a href="https://colab.research.google.com/github/deadlyjoke/_PythonBigData_Class/blob/main/lesson4/lesson4_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#list
##擁有多筆的dict資料(表格資料)
###永久性資料(可新增修改刪除)
for i in [45, 92, 78, 50, 69]:
  print(i)

45
92
78
50
69

In [3]:
#tuple
##暫時性資料(不可修改)
for i in (45, 92, 78, 50, 69):
  print(i)

45
92
78
50
69

python list和tuple有何差別
___
Python 中 list（串列）和 tuple（元組）的主要差別如下：

1 .可變性（Mutable vs Immutable）

list 是可變的（mutable），可以在建立後修改內容，包括新增、刪除、改變元素。

tuple 是不可變的（immutable），一旦建立後，內容無法更改，不能新增、刪除或修改元素。

2 .語法表示

list 使用中括號 [] 表示，例如：``

tuple 使用小括號 () 表示，例如：(1, 2, 3)。

3 .性能差異

tuple 較輕量，因為不可變，佔用較少記憶體且存取速度較快。

list 由於可變，佔用較多記憶體，操作時可能較慢。

4 .使用情境

list 適合需要頻繁修改資料的場合，如新增或刪除元素。

tuple 適合用於資料不需變動且需保護資料不被意外修改的情況，或作為函式間傳遞不可變資料的結構。

其他特性

tuple 可用於具名元組（namedtuple），提供類似記錄（record）的功能，便於管理異質資料。

list 支援較多的內建方法，如 append、extend、remove 等，tuple 則不支援這些修改型方法。

**python 詞典物件介紹**

Python 的詞典（Dictionary）是一種非常重要且常用的資料結構，用來儲存一組「鍵（Key）-值（Value）」對，類似於一個關聯陣列或映射表。以下是詞典物件的詳細介紹：

Python 詞典（Dictionary）介紹

**基本概念**

詞典由多個鍵值對組成，每個鍵對應一個值，透過鍵可以快速存取對應的值。

鍵必須是不可變的資料型態，如字串、數字或不可變元組（tuple），且鍵在詞典中是唯一的。

值可以是任意的 Python 物件，包括數字、字串、串列、甚至是另一個詞典。

詞典本身是可變的，允許新增、修改或刪除鍵值對。

Python 3.7 以後的版本中，詞典保持插入順序（有順序性），但在更早版本中詞典是無序的

In [4]:
desserts ={'Muffin':39,'Scone':25,'Biscuit':20}
desserts["Muffin"]
desserts["Biscuit"]

20

In [5]:
stu1 = {"name":"robert",
        "chinese":78,
        "english":98,
        "math":73}

stu2 = {"name":"alice",
        "chinese":72,
        "english":88,
        "math":63}

stu3 = {"name":"jenny",
        "chinese":65,
        "english":78,
        "math":93}

In [6]:
students =[stu1,stu2,stu3]
students

[{'name': 'robert', 'chinese': 78, 'english': 98, 'math': 73},
 {'name': 'alice', 'chinese': 72, 'english': 88, 'math': 63},
 {'name': 'jenny', 'chinese': 65, 'english': 78, 'math': 93}]

In [9]:
for student in students:
   print("姓名",student["name"])
   print("國文",student["chinese"])
   print("英文",student["english"])
   print("數學",student["math"])
   print("==============")

姓名 robert
國文 78
英文 98
數學 73
==============
姓名 alice
國文 72
英文 88
數學 63
==============
姓名 jenny
國文 65
英文 78
數學 93
==============